---
title: HackVG
---

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center-on-small-only">#HackVG</h1>
    <div class="row center">
      <p class="header center">Hackathon Vigo es una competición de desarrollo donde se pondrá a prueba tu destreza como desarrollador para extraer, analizar y visualizar información.</p>
      <p class="center date">Sabado 30 de Enero del 2015</p>
    </div>
    <div class="row center">
      <a href="http://www.meetup.com/vigo-devs/events/219259693/" id="signup-btn" class="btn-large waves-effect">Registrate</a>
    </div>

  </div>
</div>

<%= partial "partials/steps" %>
<%= partial "partials/about" %>
<%= partial "partials/faqs" %>
<%= partial "partials/schedule" %>
<%= partial "partials/location" %>
<%= partial "partials/sponsors" %>